
/*-------------------------------------------------------------------------------------------------*/
#wowRosterContainer {
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

#wowRosterContainer .not-selectable {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	user-select: none;
}

/*-------------------------------------------------------------------------------------------------
	Header
*/
#wowRosterContainer .roster-toolbar-button-icon-checkout {
	background-image: url('/_wowplugin/images/update.png');
}

/*-------------------------------------------------------------------------------------------------
	Content
*/
#wowRosterContainer > .roster-content {
	display: block;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	text-align: center;
}

#wowRosterContainer .char-list-container {
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
	margin: 10px;

	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.50, #e1e1e1), to(#c8c8c8));
	background-image: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 50%, #c8c8c8);

	border: 1px solid #346789;
	border-radius: 5px;

	box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;

	transition: box-shadow 0.15s ease-in;
	-webkit-transition: -webkit-box-shadow 0.15s ease-in;
	-moz-transition: -moz-box-shadow 0.15s ease-in;
}

#wowRosterContainer .char-list-container:hover {
	border: 1px solid #123456;

	box-shadow: 2px 2px 19px #444;
	-webkit-box-shadow: 2px 2px 19px #444;
	-moz-box-shadow: 2px 2px 19px #fff;
}

#wowRosterContainer .char-list-header {
	display: flex;
	width: 100%;
	height: 40px;
	background-image: url('/_wowplugin/images/black-dreams-in-purple-website-background.jpg');
	background-size: cover;
	background-position: 50% 50%;

	border-bottom: 1px solid #346789;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	padding: 3px;
}

#wowRosterContainer .char-list-header-icon {
	display: inline;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
	width: 36px;
	height: 32px;
	border-style: solid;
	border-color: transparent;
	border-radius: 4px;
	border-width: 4px;
}

#wowRosterContainer .char-list-header-label {
	display: inline;
	margin-left: 5px;
	height: 32px;
	line-height: 32px;
    color: #ffffff;
    font-size: 1.5rem;
	white-space: nowrap;
}

#wowRosterContainer .char-item {
	display: block;
	width: 160px;
	height: 20px;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;

	border: 1px solid #AAAAAA;
	border-radius: 3px;

    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    box-shadow: rgba(0,0,0,0.05) 0px 1px 4px;

	text-align: initial;
}

#wowRosterContainer .char-item:hover {
	border: 1px solid #888888;
	box-shadow: 2px 2px 19px #444444;
}

#wowRosterContainer .char-item-label {
	margin-left: 5px;
	color: #333333;
}
